<my-tabs>
    <my-pane title="Tab1">
        <h4>Tab 1</h4>
        <p>Lorem ipsum dolor sit amet</p>
    </my-pane>
    <my-pane title="Tab2">
        <h4>Tab 2</h4>
        <em>Mauris elementum elementum enim at suscipit.</em>
        <p><a href ng-click="i = i + 1">counter: {{i || 0}}</a></p>
    </my-pane>
    <my-pane title="Tab3">
        <h4>Tab 3</h4>
        <em>Mauris elementum elementum enim at suscipit.</em>
        <p><a href ng-click="i = i + 1">counter: {{i || 0}}</a></p>
    </my-pane>
</my-tabs>